/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 4, 2018, 1:39:25 AM
    Author     : SARRINFO
*/
.carousel-inner img {
      width: 1900px;
      height: 750px;
  }
 
#connecter{
    border: solid;
    border-radius: 8px;
    border-color: background;
    background-color: palegreen;
    width: auto;
    height: 40px;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}
#recherche{
   font-size: 24px;
   position:fixed;
   padding-left: 100px;
   background-color: transparent;
   height: 400px ;
   width: 500px;
}

#logo{
    width: 20px;
    height: 20px;
}

input{
    border-radius: 3px;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
}
